<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-12 d-flex flex-column justify-content-center align-items-center about-text">
      <h1>Cats in the Back Alley<fa-icon [icon]="faCat" class="ml-3"></fa-icon></h1>
      <p>Description here</p>
      <button type="button" class="btn btn-outline-secondary px-4 mt-4" routerLink="/products">View Products</button>
    </div>

    <div class="col-md-4 col-12">
      <img src="https://docs.google.com/uc?id=1_BrKzGuhxYhDU0evv88_vfI-poYRfAOw">
      <img src="https://docs.google.com/uc?id=1t9yoouvSZ3bvi1v2HpGGZyxg1rx1PJjH">
      <img src="https://docs.google.com/uc?id=11X1PGRyvnZQJS-aW0okMPwZV2vevdlRH">
      <img src="https://docs.google.com/uc?id=1d2eVOmTHzLIQ1vleaDtHtoHwrpQUB1Bn">
    </div>
  </div>

  <!-- <div class="wipe-transition"></div> -->
</div>
