<div class="row">
  <div class="col-md-12 product-ring-container">
    <img src="https://docs.google.com/uc?id=1VpA5Y7YtzZ-vCvkMEDdfdabPxbAzsH1f">
    <img src="https://docs.google.com/uc?id=16ccW2lruPMmbQLyRBGephJB5N4m3KmA2">
    <img src="https://docs.google.com/uc?id=1t9yoouvSZ3bvi1v2HpGGZyxg1rx1PJjH">
    <img src="https://docs.google.com/uc?id=1nWRpbLA7i1lKpvXn4F20vYrHDeOOKkPC">
    <img src="https://docs.google.com/uc?id=11X1PGRyvnZQJS-aW0okMPwZV2vevdlRH">
    <img src="https://docs.google.com/uc?id=16ci3qIB7DezyHlU56SiGi7RQU0MEIrO7">
    <img src="https://docs.google.com/uc?id=1m8KZjJ1fjDwsPy3PwH3jcQOr3dYzoAnP">
    <img src="https://docs.google.com/uc?id=1DsRD4c2KHxOnUyssMFiKP9hCQU9ps3q_">
    <img src="https://docs.google.com/uc?id=1d2eVOmTHzLIQ1vleaDtHtoHwrpQUB1Bn">
  </div>
</div>
